.root {
    text-align: center;
    padding: 120px;
    max-width: 750px;
    margin: 0 auto;

    @media (max-width: 768px) {
        padding: 60px 20px;
    }

    @media (max-width: 420px) {
        padding: 40px 12px;
    }

    span {
        font-size: 78px;

        @media (max-width: 768px) {
            font-size: 56px;
        }
    }
}

.description {
    font-size: 22px;

    @media (max-width: 768px) {
        font-size: 18px;
    }
}